body {
    background-color: #ebe9e8;
}
/*main > .container {*/
/*    padding: 55px 15px 0px;*/
/*}*/

.container {
    padding-bottom: 0;
    margin-bottom: 0;
}

/*#trading {*/
/*    background: url("../images/system/trading.jpeg") no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/

/*.content {*/
/*    padding-top: 55px;*/
/*}*/

#trading {
        background: url("../images/system/back17.png") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    min-height: 100vh !important;
    max-width: 100vw;
}


.view-body {
    min-height: 47vh !important;
}

.brand-name {
    max-width: 100%;
    text-align: center;
}

.logo {
    width: 85%;
    text-align: center;
    margin: auto;
}

.image {
    max-width: 100%;
    width: auto;
    min-width: 300px;
}

.grafik {
    width: auto;
    max-width: 30%;
    height: auto;
}

.cabinet-brand-name {
    text-align: center;
}

.cabinet-brand-name .image {
    max-height: 100px;
}

.main-line, .cabinet-main-line {
    width: 55%;
    height: 5px;
    text-align: center;
    margin: auto;
    background-color: #000000;
}

.cabinet-body, .cabinet-body-one {
    width: 75%;
    margin: 2% auto;
    margin-bottom: 0;
    padding-bottom: 2%;
}

.cabinet-body-one {
    width: 100%;
    padding-bottom: 4%;
}

.cabinet-main-line {
    width: 75%;
}

.hello-user {
    font-size: 2rem;
    font-weight: bold;
}

.cabinet-info {
    font-weight: bolder;
    font-size: 1.4rem;
}

.loop-href {
    margin: auto;
    width: 45%;
}

.cabinet-block, .cabinet-block-bg {
    width: 45%;
    min-width: 385px;
    margin: auto;
    height: 120px;
    border: 3px solid #fbfbfb;
    border-radius: 5px;
    box-shadow:  5px 20px 15px 0px rgba(127,132,132,0.6);
}

.menu-cab {
    width: 90% !important;
}

.cabinet-block-bg {
    width: 95%;
    height: 310px;
}

.block-info-body {
    width: 75%;
    margin: auto;
    font-weight: bolder;
}

#remember {
    height: 25px;
    /*width: 25px;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*-o-appearance: none;*/
    /*appearance: none;*/
    /*border: 1px solid #34495E;*/
    /*border-radius: 4px;*/
    /*outline: none;*/
    /*transition-duration: 0.3s;*/
    /*background-color: #scscsc;*/
    /*cursor: pointer;*/
}

/*#remember:checked {*/
/*    border: 1px solid #41B883;*/
/*    background-color: #34495E;*/
/*}*/

/*#remembe:checked + span::before {*/
/*    content: '\2713';*/
/*    display: block;*/
/*    text-align: center;*/
/*    color: #41B883;*/
/*    position: absolute;*/
/*    left: 0.7rem;*/
/*    top: 0.2rem;*/
/*}*/

.profile-content .remember{
    margin-top: 3%;
    margin-bottom: 4%;
    width: 90%;
}

.profile-content a {
    color: #476587;
}
.profile-content a:hover, .profile-content a:active {
    color: #2f4154;
}

.progress {
    background: linear-gradient(35deg, transparent 95px, rgba(149, 211, 255, 0.2) 0) right, linear-gradient(rgba(255, 255, 255, 0), #ffdee8);

}

.zero {
    background: linear-gradient(35deg, transparent 95px, rgb(119 188 237 / 20%) 0) right, linear-gradient(rgba(255, 255, 255, 0), #f5f5f5);
    /*background: linear-gradient(35deg, transparent 95px, rgba(149, 211, 255, 0.2) 0) right, linear-gradient(rgba(255, 255, 255, 0), #ffdee8);*/
}

.one {
    background:linear-gradient(35deg, transparent 95px, rgba(110, 149, 177, 0.2) 0) right, linear-gradient(rgba(255, 255, 255, 0), #e9fbff);
    margin-top: 5%;

    /*transparent 95px, rgba(144, 176, 199, 0.6) 0) right, linear-gradient(rgb(238 234 241 / 60%), #e9fbf9);*/
}

.two {
    /*background:linear-gradient(35deg, transparent 95px, rgba(144, 176, 199, 0.6) 0) right, linear-gradient(rgba(204, 196, 223, 0.6), #d4f1ff);*/
    /*background:linear-gradient(35deg, transparent 95px, rgba(144, 176, 199, 0.6) 0) right, linear-gradient(rgba(238, 234, 241, 0.2), #caeef7);*/
    background:linear-gradient(35deg, transparent 95px, rgba(88, 97, 104, 0.2) 0) right, linear-gradient(rgba(255, 255, 255, 0), #b9dae3);
    margin-top: 5%;

/*rgb(99 105 110 / 20%) 0) right, linear-gradient(rgb(255 255 255 / 20%), #c3eef9);*/
    /*transparent 95px, rgba(144, 176, 199, 0.6) 0) right, linear-gradient(rgb(238 234 241 / 60%), #e9fbf9);*/
}
.three {
    /*background:linear-gradient(35deg, transparent 95px, rgba(144, 176, 199, 0.6) 0) right, linear-gradient(rgba(204, 196, 223, 0.6), #d4f1ff);*/
    /*background:linear-gradient(35deg, transparent 95px, rgba(144, 176, 199, 0.6) 0) right, linear-gradient(rgba(250, 250, 250, 0.6), #d5b1f7);*/
    /*background:linear-gradient(35deg, transparent 95px, rgba(123, 156, 253, 0.2) 0) right, linear-gradient(rgba(255, 255, 255, 0), #d59df7);*/
    background: linear-gradient(35deg, transparent 95px, rgba(70, 90, 103, 0.2) 0) right, linear-gradient(rgba(255, 255, 255, 0), #8ca6d6);
    margin-top: 5%;
}
.fenster {
    background: linear-gradient(58deg, transparent 163px, rgba(147, 251, 235, 0.1) 0) right, linear-gradient(rgba(255, 255, 255, 0), #a9a9a9);
    margin-top: 5%;
    height: auto;!important;
}

.error {
    background: linear-gradient(35deg, transparent 95px, rgba(149, 211, 255, 0.2) 0) right, linear-gradient(rgba(255, 255, 255, 0), #ff6b6b)!important;
}

.system-block {
    /*float: left;*/
    /*width: 30%;*/
    width: auto;
    min-width: 30%;
    padding-top: 85px;
    padding-left: 5px;
    text-align: left;
    font-size: 1.05rem;
    color: #656363;
}

.info-block {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #656363;
    /*float: right;*/
    /*width: 65%;*/
    /*padding-top: 20px;*/
    padding-right: 10px;
    margin: auto;
}

.cabinet-block-bg .system-block {
    width: 20%;
    padding-top: 275px;
    font-weight: bolder;
}

.cabinet-block-bg .info-block {
    font-size: 1.1rem;
    font-weight: normal;
    width: 78%;
    line-height: 1.2;
    margin: auto;
}

.block-title {
    /*text-align: left;*/
    color: #f72604a1;
    font-size: 1.5rem;
    /*margin-left: -20%;*/
    font-weight: bolder;
}

.research {
    /*background:linear-gradient(35deg, transparent 95px, rgba(144, 176, 199, 0.6) 0) right, linear-gradient(rgba(204, 196, 223, 0.6), #d4f1ff);*/
    /*background:linear-gradient(35deg, transparent 95px, rgba(144, 176, 199, 0.6) 0) right, linear-gradient(rgba(250, 250, 250, 0.6), #d5b1f7);*/
    background:linear-gradient(35deg, transparent 95px, rgba(170, 184, 247, 0.35) 0) right, linear-gradient(rgba(255, 255, 255, 0), #fdd57c);
    margin-top: 5%;
    /*transparent 95px, rgba(144, 176, 199, 0.6) 0) right, linear-gradient(rgb(238 234 241 / 60%), #e9fbf9);*/
}

#research .info-block {
    padding-top: 40px;
    padding-left: 25px;
}

.header-step {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1%;
}

.header-step .cabinet-block, .header-step .step-logo {
    width: 30%;
}

.header-step .main-line {
    width: 75%;
    /*height: 3px;*/
    background-color: #4c4b4b;
}

.auth-btn {
    background-color: #cbcbcb;
    border: 3px solid #a3a3a3;
    border-radius: 5%;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #526062;
}

.auth-btn:hover, .auth-btn:focus {
    background-color: #8b8b8b;
    color: #ffffff;

}

.title, .title-sign, .title-setup {
    margin: 10% 0;
    font-size: 2rem;
    font-weight: bold;
}

.title-sign {
    margin: 5% 0;
}

.title-setup {
    margin: 3% auto;
}

.cabinet-trade {
    font-size: 1.5rem;
    color: #4a4848;
    margin-bottom: 5%;
}

.loop-href:hover .cabinet-block {
        background-color: #df68d078!important;
}

.border-img {
    border: 2px solid grey;
}

.header-step .one, .header-step .two, .header-step .three {
    margin-top: 0;
}

.photo-content {
    margin: auto;
    width: 800px;
}

.profile-block, .photo-block, .screen-block {
    width: 45%;
    margin: auto;
    margin-bottom: 6%;
    height: 200px;
    border: 10px solid #adadad;
    border-radius: 5px;
    box-shadow:  5px 20px 15px 0px rgba(111,112,112,0.6);
    background: linear-gradient(44deg, transparent 129px, rgba(199, 199, 199, 0.9) 0) right, linear-gradient(rgba(228, 228, 229, 0.9), #fd776a);
}

.photo-block, .screen-block {
    width: 350px!important;
    height: 220px!important;
    border: 10px solid #adadad;
    border-radius: 5px;
    box-shadow:  5px 20px 15px 0px rgba(111,112,112,0.6);
    background: #cbcbcb;
    cursor: pointer;
}

.photo-block input[type="file"], .contract-form input[type="file"], .screen-block input[type="file"], .trade input[type="file"]{
    visibility: hidden;
}

.filename {
    height: 25px;
    overflow: hidden;
    font-size: 1.3rem;
}

.trade .filename {
    height: inherit;
    font-size: 1rem;
}

.trade input[type="file"] {
    background: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    color: #656665;
    text-align: center;
}



.profile-content {
    font-size: 1.5rem;
    color: #656363;
    padding-top: 20px;
    padding-right: 10px;
}

/*.profile-content input {*/
/*    margin-top: 5%;*/
/*    background: transparent;*/
/*    border: none;*/
/*    outline: none;*/
/*    font-weight: bold;*/
/*    color: #106824;*/
/*    text-align: center;*/
/*    width: 90%;*/
/*}*/

.profile-content input {
    margin-top: 5%;
    /*background: #adadad;*/
    /*border: 1px solid #939191;*/
    background: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    color: #656665;
    text-align: center;
    width: 75%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.bottom-block {
    margin-bottom: 30px;
}

.profile-content button {
    background: transparent;
    border: none;
    float: left;
    color: #656363;
    margin-top: 10px;
    font-weight: bolder;
}

.profile-content button:hover, .profile-content button:focus {
    color: #4d7606;
}

.adv-image {
    margin: auto;
    width: 100%;
    max-width: 250px;
}

#email {
    width: 80%;
    font-size: 1.4rem;
}

.content-tooltip {
    border: 7px solid #adadad;
width: 90%;
    padding: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
text-align: center;
    color: #000000;
    font-size: 1.2rem;
    position: relative;
    margin: auto;
    /*margin-top: ;*/

}

.content-tooltip:before {
    content: "";
    width: 0;
    height: 0;
    top: -25%;
    right: 35%;
    position: absolute;
    border-top: 36px solid transparent;
    border-right: 36px solid #adadad;
}

.tooltip-border:before {
    top: -21% !important;
    right: 10%!important;
}

.title-trade {
    font-weight: bolder;
    margin: 10% auto;
}

.title-trade p {
    margin-top: 5%;
}

.rituale {
    line-height: 5rem;
}

a.disabled {
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default;
    opacity: 0.5;

}

.step-input-limit {
    width: 25px!important;
    font-size: 1.8rem !important;
}

#step-limit, #step-limit-2 {
    width: 25px!important;
    font-size: 1.8rem !important;
}

#day-name {
    text-align: left;
    width: 150px!important;
    display: inline;
}

.table-time-pause tr{
    border: none;
}

.table-time-pause td {
    border: none;
    height: 30px;
    padding: 0.3rem;
}

.rituale-form, .setup-form, .setup-form-sm, .market-form-sm, .setup-form-small {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 6%;
    height: 400px;
    border: 10px solid #adadad;
    border-radius: 5px;
    box-shadow:  5px 20px 15px 0px rgba(111,112,112,0.6);
    background: #cbcbcb;
}

.setup-form {
    width: 90%;
    font-size: 1.5rem;
    /*padding: auto 15px;*/

}

.setup-form-sm {
    height: 320px;
}

.market-form-sm {
    height: 300px;
}

.setup-form-small {
    height: 200px;
}

.rituale-form h3 {
    margin: auto;
    margin-bottom: 5%;
    width: 90%;
}

.setup-form h3, .setup-form-sm h3 {
    margin: auto;
    margin-bottom: 5%;
    width: 90%;
    font-size: 1.5rem;
}

.setup-form h4, .setup-form-sm h4, .market-form-sm h4 {
    margin: auto;
    width: 90%;
}

.setup-form-small h4 {
    margin: auto;
    width: 90%;
    padding-top: 15px;
}

.rituale-form > textarea, .setup-form > textarea, .setup-form-sm > textarea, .market-form-sm > textarea, .setup-form-small > textarea {
    width: 90%!important;
    overflow: hidden;
    background: inherit!important;
    /*-webkit-background: inherit;*/
    /*-moz-background: cover;*/
    /*-o-background: cover;*/
    border: none;
    outline: none;
    font-size: 1.5rem;
    text-align: center;
    height:60%;
    line-height: 1.9;
    resize: none;
}

.setup-form textarea, .setup-form-sm textarea, .market-form-sm textarea, .setup-form-small textarea {
    width: 80%;
    height:50%;
}

.setup-form-sm textarea {
    height: 43%;
}

.rituale-form input, .setup-form input, .setup-form-sm input, .market-form-sm input, .setup-form-small input {
    width: 90%;
    overflow: hidden;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 1.5rem;
    text-align: center;
}

.setup-form input, .setup-form-sm input, .market-form-sm input, .setup-form-small input {
    width: 80%;
    text-align: center;
}

.setup-abbr {
    font-size: 2rem!important;
    width: 50%!important;
    margin: 3% auto 0 auto;
    text-align: center;
}

.setup-form-small .setup-abbr {
    color: red;
    font-weight: bolder;
}

.setup-form-small .setup-abbr::-webkit-input-placeholder, .setup-money::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: red;
    font-weight: bolder;
}
.setup-form-small .setup-abbr::-moz-placeholder, .setup-money::-moz-placeholder { /* Firefox 19+ */
    color: red;
    font-weight: bolder;
}
.setup-form-small .setup-abbr:-ms-input-placeholder, .setup-money::-ms-input-placeholder { /* IE 10+ */
    color: red;
    font-weight: bolder;
}
.setup-form-small .setup-abbr:-moz-placeholder { /* Firefox 18- */
    color: red;
    font-weight: bolder;
}

.setup-form-small .setup-abbr::-webkit-outer-spin-button, .setup-form-small .setup-abbr::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.setup-money::-webkit-outer-spin-button, .setup-money::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.setup-money {
    text-align: right!important;
}

/*.rituale-form textarea:active, .rituale-form textarea:focus, .rituale-form textarea:hover {*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

.pagination-circle-left {
    /*padding: auto 10%;*/
    font-size: 4rem;
    margin: 0 30% 0 0;
}

.pagination-circle-right {
    font-size: 4rem;
    margin: 0 0 0 30%;
}

.fa-arrow-circle-left, .fa-arrow-circle-right{
    color: #6f6f81;
}

.fa-arrow-circle-left:focus, .fa-arrow-circle-right:focus{
    color: #4a4160;
}

.fa-arrow-circle-left:hover, .fa-arrow-circle-right:hover{
    color: #4a4160;
}

.step-one-text {
    font-size: 2em;
    color: #0b2e13;
}

.sign-photo {
    cursor: pointer;
}

.title-congrats {
    margin: 10% auto;
    font-size: 3rem;
    font-weight: bold;
}

.text-line-bg {
    line-height: 4rem;
}

.footer-logo {
    width: 15%;
    margin-top: 20px;
}

.footer-logo img {
    width: 100%;
}


.auth-button {
    margin: 7% auto 4% auto;
    max-width: 60%;
}

.reset-form {
    width: 70%;
    margin: auto;
}

#rituale {
    margin-bottom: 5%;
}

.step-bottom {
    margin-bottom: 10%;
}

.queue-text {
    margin-top: 10%;
}

.mps-image {
    margin: auto;
    max-width: 25%;
}

.mps-image-name {
    margin: auto;
    max-width: 35%;
}

.mps-image img, .mps-image-name img {
    width: 100%;
}

.btn-grey {
    color: #483d3d;
    background-color: #a8b9c9;
    border-color: #85a3bd;
    box-shadow: none;
    font-weight: bolder;
}

.btn-grey:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-grey:focus, .btn-grey.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0 rgba(130, 138, 145, 0.5);
}

.btn-grey-light {
    color: #ffffff;
    background-color: #919191;
    border-color: #a1a2a3;
    box-shadow: none;
    font-weight: bolder;
    border-radius: 5%;
    font-size: 1.5rem;
    margin-left: 3%;
    margin-right: 3%;
}

.btn-grey-light:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-grey-light:focus, .btn-grey-light.focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0 rgba(130, 138, 145, 0.5);
}


.brand-name .image {
    max-height: 13rem;
    margin: auto;
}

.main-name {
    width: 65%;
    text-align: center;
    margin: auto;
}

.web-name {
    width: 35%;
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

.time-content {
    margin: auto;
    width: 70%;
}

.table-time {
    width: 90% !important;
    margin: 5% auto;
}

.table-time thead {
    font-weight: bolder;
}

.table-time td {
    height: 100px;
    vertical-align: inherit;
    border: 1px solid #a1a1a1;
}

.table-time thead td {
    border-bottom: 2px solid #000000;
}

.table-time tbody td:first-child {
    border-right: 2px solid #000000;
    font-weight: bolder;
}

.table-time input {
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

.form-info {
    margin: 15px auto;
    font-size: 1.5rem;
}

.setup-money {
    width: 160px !important;
    color: red;
    font-size: 2rem !important;
}

.text-bottom {
    width: 70%;
    padding-top: 30px;
    margin: auto;
}

.color-red {
    color: red;
}

.margin-title {
    margin: auto 10%;
}

.contract-form {
    text-align: center!important;
}

.info-message {
    margin: auto 10px;
    background-color: #c7c7c7;
    padding: 10px;
    width: 140px;
    min-height: 90px;
}

.research-bg {
    width: 95%!important;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.research-bg .info-block {
    width: 75% !important;
    font-size: 1.5rem!important;
}

.schemas .info-block {
    font-size: 1.5rem!important;
}

#schema-info {
    font-size: 0.9rem!important;
    padding: 5px;
    /*width: 75%;*/
}

.contract-form div{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

.contract-form input {
    text-align: left;
    padding-left: 25px;
}

.table-research, .table-research tr, .table-research td, .table-research th {
    border: 1px solid #000000!important;
}

.table-research {
    font-size: 1.3rem;
}

.table-research img {
    width: 100%;
    max-width: 50px;
}

.text-button {
    text-align: center;
    background-color: #a1a1a1;
    padding: 10px;
    margin: auto 5%;
}

.market-data {
    border: 10px solid #adadad;
    border-radius: 5px;
    box-shadow:  5px 20px 15px 0px rgba(111,112,112,0.6);
    background: #cbcbcb;
    margin: 3% auto;
    padding: 15px;
    width: 80%;
}

.market-data label {
    font-size: 1.2rem;
    margin: auto;
    /*display: table-cell;*/
    vertical-align: middle;

}

.market-data input {
    margin: auto 25px;
    max-width: 250px;
    font-size: 1.2rem;
    background: #afafaf;
    border: none!important;
    outline: none;
    padding: 5px 10px;
}

.market-data input:hover {
    border: 1px solid grey;
}

.market-data .bg-green, .market-data .bg-danger {
    border-radius: 50%;
    font-size: 1rem;
    height: 34px;
    width: 40px;
    padding: 5px;
    margin: 5px 5px 0 0;
    border: none;
}

.trade {
    text-align: left;
    /*margin-bottom: 5% !important;*/
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.trade-form {
    height: auto!important;
    width: 585px;
}

.trade label {
    display: inline-block;
    width: 220px;
    font-size: 1rem;
    /*padding: 15px;*/
    padding: 0 15px 5px 15px;
    text-align: left;
}

.lots {
    width: 150px !important;
}

.lots-sum {
    width: 110px !important;
    margin-left: -15px;
}

.trade input, .trade select {
    display: inline-block;
    width: 250px;
    font-size: 1rem;
    padding: 5px 15px;
    text-align: left;
    background: #8a8f8a;
    border: 1px solid grey;
    border-radius: 5px;
    color: #000000;
}

.trade input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
    color: #3a3a3a;
}
.trade input::-moz-placeholder { /* Firefox 19+ */
    color: #3a3a3a;
}
.trade input::-ms-input-placeholder { /* IE 10+ */
    color:#3a3a3a;
}
.trade input:-moz-placeholder { /* Firefox 18- */
    color: #3a3a3a;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


#short_amount, #long_amount {
    width:20px;
    height: 20px;
}

.trade-block {
    width: 250px!important;
    height: 36px!important;
    /*border: 10px solid #adadad;*/
    border-radius: 5px;
    /*box-shadow: 5px 20px 15px 0px rgb(111 112 112 / 60%);*/
    background: #8a8f8a;
    color: #000000;
    font-size: 1rem;
    border: 1px solid grey;
    cursor: pointer;
    display: inline-block;
}

/*.btn-loss {*/
/*    display: none;*/
/*}*/

.bd-danger {
    border: 2px solid #dc3545 !important;
}

.btn-loss-show {
    display: inline-block!important;
    background: #ef0000!important;
}

.files-span {
    display: inline-block;
    padding-left: 15px;
    color: #3a3a3a;
}

.files-input {
    display: inline-block;
    width: 200px!important;
}

.table-trade, .table-trade tr, .table-trade td, .table-trade th, .table-trade thead {
    border: none;
}

.table-trade {
    text-align: center;
    font-size: 1rem;
}

.footer {
    /*background-color: #e1e1e1;*/
    font-size: .9em;
    min-height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.ex-top {
    left: 7%;
    position: relative;
    z-index: 2;
}

.ex-center {
    margin-top: 12%;
    position: relative;
}

.ex-bottom {
    position: relative;
    margin-top: 18%;
    right: 7%;
    z-index: -1;
}

.ex-top .info-block, .ex-center .info-block, .ex-bottom .info-block {
    padding-bottom: 10px!important;
    padding-top: 40px;
}

.ex-top .system-block, .ex-center .system-block, .ex-bottom .system-block {
    padding-top: 0!important;
}

.block-t {
    width: 75px;
    height: 80px;
    border: 2px solid #0a0a0a;
    background-color: #dfdfdf;
    margin-left: 25px;
    font-size: 2rem;
}

.taste {
    font-size: 1.5rem;
}

.block-g {
    padding: 15px;
    width: 125px;
    height: 164px;
    background-color: #a99f9f;
    margin-left: 25px;
    font-size: 1.8rem;
}

.schema-desc, .schema-desc div {
    display: inline-block;
}

.position-block {
    position: relative;
    left: 7%;
    top: -19%;
    margin-top: -5%;
    margin-bottom: -6%;
}

.block-t-pad {
    margin-left: 50px!important;
    margin-right: 20px;
}

.table-bordered-emojy {
    width: 90%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 15px 5px;
    margin-bottom: 15px;

}

.table-bordered-emojy, .table-bordered-emojy tr {
    border: none;
    font-size: 1.5rem !important;
}

.table-bordered-emojy td {
    border: 5px solid grey;
    font-size: 1.2rem !important;
}

.table-bordered-emojy div {
    border: 2px solid grey;
    margin: 5px 15px;
}

.table-bordered-emojy ul{
    margin: 0;
    padding: 0;
}

.table-bordered-emojy li {
    list-style-type:none;
    text-align: justify;
}

.total-table, .total-table tr, .total-table td {
    border: none;
}

.total-table {
    border-bottom: 2px dashed #000000;
}

.border-block {
    border: 1px solid #000000;
    padding: 15px;
    width: 70%;
    margin: auto;
}

.checkbox-em {
    cursor: pointer;
}

.border-green {
    /*border: 5px solid rgba(48, 177, 32, 0.65)!important;*/
    color: rgba(48, 177, 32, 0.65);
}

.title-big {
    font-size: 4rem!important;
}

.result {
    margin: auto;
    width: 70%;
    height: 300px;
    align-items: center;
    align-self: center;
    display: flex;
    text-align: center;
}

.result p {
    text-align: center;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

.cabinet-logo-hidden {
    display: none!important;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide-image {
    max-width: 300px;
    width: 100%;
}

.fade:not(.show) {
    opacity: 1!important;
}

@media(max-width:1200px) {

    /*.cabinet-body {*/
    /*    width: 90%;*/
    /*    !*margin-right: 0;*!*/
    /*    !*margin-left: 0;*!*/
    /*}*/

    .content-tooltip:before {
        top: -21%;
    }

    .cabinet-block {
        min-width: 320px;
    }

    .info-block {
        font-size: 1.3rem;
    }

    .market-data input{
        width: 200px;
    }

    .block-info-body {
        width: 100%;
    }

    /*.menu-cab {*/
    /*    width: 80% !important;*/
    /*}*/
}

@media(max-width: 1000px) {

    .container {
        max-width: 85% !important;
    }

    .cabinet-logo {
        display: none!important;
    }

    .cabinet-logo-hidden {
        display: flex!important;
        margin-top: 25px;
    }

    .cabinet-body {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .cabinet-block {
        min-width: 300px;
    }

    .main-line {
        min-width: 300px
    }

    .step-logo {
        width: 40% !important;
        margin: auto;
    }

    .table-time, .table-time-pause, .table-time-pause input {
        font-size: 1rem;
    }

    .table-time-pause, .table-time-pause input {
        font-size: 1.2rem;
    }

    .table-time td, .table-time-pause td {
        padding-left: 0;
        padding-right: 0;
    }

    .example {
        display: block!important;
    }

    .ex-top, .ex-center, .ex-bottom {
        position: initial;
        left: 0;
        right: 0;
        margin-top: 4%;
    }

    .border-img {
        border: none;
        margin: 3% auto!important;
    }

    .market-data {
        width: 99%;
        display: block!important;
    }

    .market-data label {
        text-align: left;
    }

    .market-data input {
        width: auto;
        margin-bottom: 4%;
    }

    .image-scheme {
        width: 100%;
    }

    .taste {
        font-size: 1.2rem;
    }

    .position-block {
        left: 10%;
        margin-bottom: -10%;
        margin-top: -8%;
    }

    .height-block {
        height: auto;!important;
    }

    .schema-search {
        font-size: 1.1rem;
    }

    .footer-logo {
        width: 20%;
    }

    .pagination-circle-right {
        margin-left: 20%;
    }

    .pagination-circle-left {
        margin-right: 20%;
    }

    .photo-content {
        width:95%;
    }

    .photo-block {
        width: 40%!important;
        max-width: 350px!important;
    }

    /*.market-data button {*/
    /*    text-align: right;*/
    /*    margin-bottom: 2%;*/
    /*    padding-bottom: 2%;*/
    /*}*/
}

@media(max-width:992px) {
    .content-tooltip:before {
        top: -19%;
    }

    p {
        margin-bottom: 0.5rem;
    }

    body {
        font-size: 0.7rem;
    }

}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }

    .image {
        max-width: 90%;
    }

    .content-tooltip:before {
        top: -12%;
    }

    .cabinet-block-bg {
        width: 100%;
    }

    .block-info-body {
        width: 85%;
    }

    .step-logo {
        width: 60% !important;
        margin: auto;
    }

    .pagination-circle-right {
        margin-left: 15%;
    }

    .pagination-circle-left {
        margin-right: 15%;
    }

    body {
        font-size: 1rem!important;
    }

    .form-info {
        font-size: 1.2rem;
        padding-bottom: 0;
        padding-top: 0;
    }

    .text-bottom {
        padding-top: 0;
    }

    .step-one-text {
        font-size: 1.2rem;
    }

    .photo-content {
        display: block!important;
        width: 100%;
    }

    .taste {
        font-size: 1rem;
    }

    .position-block {
        left: 13%;
        margin-bottom: -13%;
        margin-top: -10%;

    }

    .text-left {
        padding-top: 5px!important;
        padding-bottom: 5px!important;
    }

    .research-block {
       width: 90%!important;
    }

    .info-research {
        margin: auto;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }

    .research-list {
        display: block!important;
    }

    .schema-search {
        font-size: 0.9rem;
    }

    .photo-block, .screen-block {
        margin-right: auto!important;
        margin-left: auto!important;
    }

    .footer-logo {
        width: 30%;
    }

    .photo-block {
        width: 60%!important;
        max-width: 350px!important;
    }

    .menu-block-content {
        display: block!important;
    }

    .loop-href {
        width: 70%;
        display: block;
    }

}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}
